@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media screen and (max-width:547px) {
  .column-hidden{
    display: none;
  }
}
@media screen and (max-width:1024px) {
  .center-content{
    justify-content: center;
    margin-left: 0;
  }
  .cards-container{
    justify-content: center;
    
  }

}

@media screen and (min-width:1024px) {


  .cards{
    margin-right: 20px;
  }
}